$dark-blue:#2E4057;
$light-blue:#6497b1;
$off-white: #EFEFEF;
$white:#fcfcfc;
$orange: #EAAF1C;
$light-orange:#f4d78d;
$black:#222222;
$light-grey:#898888;
$dark-grey:#555555;

$link:$light-blue;

body{
  background:$white;
}

.background1 {
  background:$white;
}
.background2 {
  background:$white;
}
