$dark-blue:#2E4057;
$off-white: #EFEFEF;
$white:#ffffff;
$orange: #EAAF1C;
$light-orange:#f4d78d;
$black:#222222;
$light-grey:#898888;

body{
  background:$white;
}

.background1 {
  background:$white;
}
.background2 {
  background:$off-white;
}
