.portfolio-list {
  list-style-type: none;
  padding-left:0;
}
.single-portfolio{
  .entry-header{
    color: $white;
  }
}
.portfolio-list-item{
  padding:70px 0;
  width:90%;
  display:flex;
  margin:0 auto;

  &:first-of-type{
    padding-top:0;
  }
  .list-item-text{
    margin:3px 0 0 40px;
    border-top:6px solid $dark-blue;
    max-width:800px;
  }
  .overflow-hidden {
    overflow:hidden;
    box-shadow:2px 2px 4px rgba(0,0,0,0.5);
    border-radius:5px;
  }
  @include bp(medium){
    flex-direction: column;
    .list-item-text{
      order: 1;
      margin: 0 auto;
      padding: 30px 0;
    }
    .overflow-hidden{
      order: 2;
      max-width: 800px;
      margin: 0 auto;
    }
  }
}
.portfolio-list-item>div{
  width: 100%;


}
