.home-background-image {
  position:relative;
  img{
    width:100%;
    display:block;
    z-index:1;
  }
  .hire-me{
    position:absolute;
    top:0;
    height:100%;
    width:40%;
    color:$white;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:flex-start;
    margin-left:10%;
    a {
      text-decoration: none;
      border: 2px solid $white;
      padding: 5px 10px;
      margin-top: 2rem;
    }
  }
  .banner-tagline{
    font-size:4rem;
    margin-bottom:0;
    span{
      color:$light-blue;
    }
  }
  .home-banner-link{
    color:$white;
  }
  @include bp(small){
    overflow-x:hidden;
    margin-bottom: 3rem;
    img{
      height: calc(80vh - 183px);
      width: auto;
      margin-left: -85%;
    }
    .banner-tagline{
      font-size:3rem;
    }
  }
}
