.blog-section{
  display:flex;
  flex-wrap:wrap;
  padding-left:0;
  margin-top:0;
  .tag-id{
    left:-20px;
    top:-5px;
  }
  .entry-header{
    margin:0 auto;
    padding:0;
  }
  li.blog-item{
    max-width:95%;
    width:700px;

    margin:0 auto;
    border-bottom:2px solid $light-grey;
    list-style-type:none;
    position:relative;
    a {
      display:block;
      height:100%;
      width:100%;
      padding:2rem 1rem;
    }
    &:last-of-type {
      border-bottom:none;
    }
    &:first-of-type{
      a{
        padding-top:0.5rem;
      }
    }
    &:hover{
      background:$dark-blue;
      .section-header{
        color:$white;
      }
      p{
        color:$white;
      }
    }
  }

}
