.services-section{

  .services-home {
    padding:2em 0;
    margin:0 auto;
    width:750px;
    max-width:100%;
    position:relative;
    //background:$white;
    span{
      top:-20px;
      left:-35px;
    }
    svg {
      width:65px;
      height:65px;
      display:block;
      fill:$light-blue;
      margin:0 auto;
    }
    p{
      max-width:700px;
      width:98%;
      margin:0 auto;
      padding-top:1.5rem;
    }
  }
}
