.services-section{
  position:relative;
  padding:50px;
  ul{
    list-style-type:none;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
  }
  li {
    padding:20px;
    flex:0 0 200px;
  }
  a{
    text-decoration:none;
    font-family:$h-font;
    color:$black;
    font-size:22px;
  }
}
