.services-section{
  position:relative;
  ul{
    list-style-type:none;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
    padding-left:0;
  }
  li {
    padding:20px;
    flex:0 0 200px;
    @include bp(small){
      padding:20px 10px;
      flex:0 0 150px;
    }
  }
  a{
    font-family:$h-font;
    border-bottom:2px solid $light-blue;
    &:hover{
      background:$dark-blue;
      color:$white;
      box-shadow:2px 1px 2px  rgba(0,0,0,0.5);
      padding:10px;
      border-radius:5px;
    }
  }
}
