.work-section{
  padding:50px;
  .tag-id{
    left:-20px;
    top:-5px;
  }
  >a{
    text-decoration:none;
    color:$white;
  }

  .list-item{
    position:relative;
    display:block;
    margin-bottom:50px;
    img{
      width:100%;
      height:auto;
      z-index:1;
    }
  }
  .list-item-text {
    background:rgba(34,34,34,0.8);
    width:400px;
    padding:20px;
    position:absolute;
    z-index:100;
    top:20px;
    right:20px;
    h2 {
      color:$off-white;
    }
  }
}
