.home-section{
  padding:75px 0;
  max-width:85%;
  width:1300px;
  margin:0 auto;
  border-bottom:2px solid $dark-grey;
  @include bp(small){
    max-width:95%;
  }
}
@import 'banner';
@import 'testemonials';
@import 'work';
@import 'services';
@import 'blog';
