.page,li,ul, div{
  position:relative;
  z-index:1;

}
a {
  z-index:999;
  position:relative;
}
.section-header {
  font-family:$h-font;
  font-weight:700;
  color:$black;
  font-weight:bold;
  font-size:1.1rem;
  line-height:1.5rem;
  text-align:center;
  span{
    color:$light-grey;
    font-weight:500;
  }
}
//Style for Button
.button{
  border:none;
  border:2.5px solid $orange;
  background:none;
  padding:10px 15px;
  border-radius:5%;
  color:$white;
  font-weight:300;
  font-size:19px;
}

//Alternating Content
.alternating-list {
  div.list-item{
    display:flex;
    align-items:center;
    &:nth-of-type(2n){
      flex-direction:row-reverse;
    }
    &:last-of-type{
      border-bottom:none;
    }
  }
}

//Tag Layout
.tag-id{
    position:absolute;
    top:20px;
    left:30px;
    color:$off-white;
    background:$dark-blue;
    padding:0 10px;
    border-radius:4px;
    box-shadow:1px 1px 2px rgba(0,0,0,0.7);
    font-family:$h-font;
    font-size:17px;
    z-index:20;
  }

  //Card
  .card{
    border-radius:4px;
    background:$off-white;
    border-top:10px solid $dark-blue;
  }
  .card-large{
    box-shadow:25px 25px 70px rgba(0,0,0,0.2);
  }
  .card-small{
    box-shadow:0 2px 2px rgba(0,0,0,0.4);
  }
