.site-header {
  width:100%;
  background:$white;
  position:relative;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:1em 1em;
  position:fixed;
  z-index:200;
  background:rgba(245, 245, 245, 0.95);
  >div, >nav {
    width:33.33%;
    display:flex;
    align-items:center;
    justify-content:center;
    @include bp(small){
      justify-content:space-between;
    }
  }
  a{
    border:none;
    &:hover{
      background:none;
      color:$light-blue;
    }
  }
  >.header-social-icons{
    @include bp(medium){
      ul{
        display:none;
      }
    }
  }
}
.site-content{
  padding-top:333px;
  @include bp(small){
    padding-top:183px;
  }
}
header {
  width:100%;
  padding:0.5em 1em;
}
.logo-header {
  margin:0;
  align-self:center;
  transition:1s all ease;
  img{
    height:300px;
    width:auto;
    transition:1s all ease;

  }
  a {
  text-decoration:none;
  color:$black;
  }
  a:visited {
    color:black;
  }
  @include bp(small){
    img{
      height:150px;
    }
  }
}
.logo-header-small{
  display:none;
  transition:1s all ease;
}
.logo-header-large{
  transition:1s all ease;
}
.header-social-icons{
  ul{
    list-style-type:none;
    padding:0 50px 0 0;

  }
  li{
    display:inline-block;
    padding:76px 0 0 10px;
    svg{
      height:32px;
      width:auto;
      fill: $dark-blue;
    }
  }
}
.main-navigation {
  padding:0;
  text-transform:uppercase;
  z-index:100;

  ul {
    list-style-type:none;
    margin-bottom:0;
    padding:0;
  }
  li {
    display:inline-block;
    &:last-of-type {
      padding-right:0;
    }
  }
  a {
    text-decoration:none;
    color:$black;
    font-size:22px;
  }
}

a.toggle-nav {
  display:block;
  margin:0;
  padding:72px 0 0 0;
  @include bp(small){
    padding-top:40px;
  }
  svg{
    height:40px;
    width:auto;
  }
}
.mobile-nav-header-container {
  display:flex;
  justify-content: flex-end;
  align-items:center;
  min-height:83px;

}
a.close-toggle {
  background:$dark-blue;
  display:flex;
  justify-content:center;
  align-items:center;
  height:55px;
  width:55px;
  border-radius:50%;
  box-shadow:2px 2px 4px rgba(0,0,0,0.7);
  &:hover{
    background:$light-blue;
  }
  svg{
    display: inline-block;
    fill:$white;
    height:30px;
    width:30px;
  }
}
.menu-nav-container {
  transition:left 1s ease;
  position:fixed;
  top:0;
  left:-150%;
  padding:0 1em 1em 1em;
  box-shadow: 50px 0px 300px 0px rgba(0,0,0,0.75);
  height:100%;
  z-index:100;
  width:100%;
  overflow-x:hidden;
  background:$off-white;
  border:15px solid $dark-blue;
  ul {
    padding:0;
    margin:0 -2em;

  }
  li {
    display:block;
    text-align:center;
    a {
      display:block;
      padding:.75em 0;
      margin:0;
      color:$black;
      font-size:2.5em;
      &:hover {
        color:$light-blue;
      }
      @include bp(small){
        font-size:1.6rem;
      }
    }
  }
  .header-social-icons{
    width:100%;
    text-align:center;
    position:absolute;
    bottom:0px;

    background:rgba(240,240,240,0.8);
    ul {
      max-width:100%;
    }
    li, a{
      width:auto;
      display:inline-block;
    }
  }
}

///
//Small Header//
///
.small-header{
  padding:5px;
  .logo-header{
    img{
      height:85px;
    }
  }
  a.toggle-nav{
    padding:0;
  }
  .header-social-icons{
    ul {
      padding:0;
    }
    li {
      padding:0 0 0 10px;
    }
  }
}

///
//Mobile Naviagation toggle-open
///
.toggle-open {
  position:fixed;
  left:0px;
  height:100%;
  width:75%;
  overflow:scroll;
  z-index:1000;
}
