
.entry-header .entry-title {
  font-size:3em;
  text-align:center;
  padding:0;
  line-height:1.2;
  margin-bottom:0;
}
.entry-header .tag-line{
  color:$light-blue;
  font-style:italic;
  text-align:center;
}
