.aulogo {
  width: 457px;
  height: 394px;
}

.aulogosmall {
  width: 222px;
  height: 196px;
}

.aulogosmall2 {
  width: 222px;
  height: 288px;
}

.close {
  width: 611px;
  height: 611px;
}

.facebook {
  width: 430px;
  height: 430px;
}

.hamburger2 {
  width: 60.123px;
  height: 60.123px;
}

.instagram {
  width: 97px;
  height: 97px;
}

.linkedin-logo {
  width: 430.117px;
  height: 430.117px;
}

.logo {
  width: 350px;
  height: 306px;
}

.logo2 {
  width: 4515px;
  height: 3946px;
}

.pencil {
  width: 11px;
  height: 42px;
}

.plus1 {
  width: 357px;
  height: 357px;
}

.scroll {
  width: 512.002px;
  height: 512.002px;
}

.twitter {
  width: 612px;
  height: 612px;
}

